<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= stylesheet_link_tag('application', :media =>'all') %>
    <%= javascript_include_tag('application') %>
  </head>
  <body>
    <% if !current_user %>
        <h1>Log in</h1>
    	  <%= form_for(:session, url: login_path) do |f| %>
      	  <%= f.email_field :email, :placeholder => "Email" %>
      		<%= f.password_field :password, :placeholder => "Password" %>
      		<%= f.submit "Log in", class: "btn-submit" %>
    	  <% end %>
    <% else %>
      <% controller.redirect_to(root_url) %>
    <% end %>
  </body>
</html>
